// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'Nunito Sans', Arial, sans-serif;
$font-size-root: 18px;

@import '~vuetify/src/styles/styles.sass';

tbody {
  span.v-chip {
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.col > p.form-group-title {
  margin-bottom: 0;
}

.secondary--text input {
  color: var(--v-secondary-base) !important;
}


